@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}


html, body {
    width:100%;
    height:100%;
    box-sizing: border-box;
}

h1{
 color: rgb(55, 190, 14);
 font-size: x-large;
 text-decoration: underline;
 padding: 2%;
}

.book{
	margin-top:5px;
}

.hero {
    text-align: center;
    background-size: cover;
    padding: 50px ;
    color: white;
}
mark{
    background-color: aliceblue;
    color: black;
}

.shop {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #401ee9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categories, .programming, .new-releases, .recommendations{
    text-align: center;
    font-size: larger;
    color: black;
    padding: 22px;
}
h2{
    color:#803b0a;
    font-size: x-large;
    padding: 10px;
    font-weight: bold ;
}

.category {
    background-color: #d73ce2;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 calc(25% - 15px);
    text-align: center;
}

.type{
    text-decoration: none;
}

.see-all, .subscribe-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-links, .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: aliceblue;
}

.payment-methods {
    text-align: center;
    margin-top: 10px;
    color: #666;
    background-color: aliceblue;
}



table{
    border-collapse: collapse;
    width: 100%;
    min-height:400px;
}
tr,td{
    border: 1px solid black;
    text-align: center;
    background-color: #f1f1f1;
    
}

td{
    /* padding: 10px; */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
}
.cart, .buy, .remove{
    max-width: 100px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border:1px solid black;
    border-radius: 5px;
    background-color: #fff;
 }
.cart, .remove{
    color: blue;
}
 .buy{
    color: red;
  
 }
 
 .buybutton, .cartbutton, .removebutton{
 	flex:1;
 	text-align:center;
 }

 .pricing {
     font-family: Arial, sans-serif;
     display: inline-flex;
     align-items: baseline;
     text-align: center;
     gap: 10px;
     padding: 10px 0;
 }
 .amt {
     font-size: 24px;
     color: #4CAF50;
     font-weight: bold;
 }
 .rs {
     font-size: 18px;
     text-decoration: line-through;
     color: #888;
 }
 .discount {
     font-size: 16px;
     color: #FF5733;
     font-weight: bold;
 }

 .bookimg{
    margin-top: 5px;
    width: 150px;
    height: 180px;
 }

 .booktitle{
   display: flexbox;
   width: 190px;
   text-align: center;
   margin: auto;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .shopbutton{
    margin-bottom: 10px;
    display : flex;
    justify-content:center;
    align-items : center;
 }
 
 button{
 	cursor : pointer;
 }
 





